@import '../../assets/variables';
@import '../../assets/variables-custom';
@import '../../assets/game';
@import '../../assets/words';

@black: #000;
@white: #fff;
@light-grey: #eee;
@line-height: 14px;
@word-margin: 10px;


body {
    padding: 80px;
    margin-bottom: 0;
}
