body {
    padding: 80px;
}

* {

}

.word-list-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.word-list-container .entry {
    display: inline-block;
    width: 200px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #eee;
    vertical-align: middle;
    padding: 15px;
    transition: all 0.5s ease-in-out;
}

.word-list-container .entry .modification-times {
    color: transparent;
    transition: all 1s ease-in-out;

}

.word-list-container .entry .modification-times abbr {
    display: none;
}

.word-list-container .entry:hover,
.word-list-container .entry:active,
.word-list-container .entry:focus
{
    background-color: #444;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #fff 0 0 20px inset;
}

.word-list-container .entry:hover .modification-times,
.word-list-container .entry:active .modification-times,
.word-list-container .entry:focus .modification-times
{
    display: inline-block;
    color: #fff;
}

.word-list-container .entry:hover .modification-times abbr,
.word-list-container .entry:active .modification-times abbr,
.word-list-container .entry:focus .modification-times abbr {
    display: inline;
}