.old-game-list li {
  margin-bottom: 15px;
}
.old-game-list li .game-text {
  display: inline-block;
  width: 55%;
}
.game-controls #guessed-letters {
  display: flex;
  font-size: 35px;
  margin-bottom: 10px;
}
.game-controls #guessed-letters .letter {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
  background-color: #eeeeee;
  box-shadow: 0px 0px 11px  #000 inset;
}
.game-controls #guessed-letters .letter.found-letter {
  background-color: #5cb85c;
}
.game-controls #wrong-letters {
  margin-bottom: 10px;
}
.game-controls #wrong-letters .letter {
  display: inline-block;
  padding: 5px;
  border: 1px solid #000;
  box-shadow: 0px 0px 11px #000 inset;
  min-width: 40px;
  text-align: center;
  font-size: 13px;
  line-height: 13px;
  background-color: #d9534f;
}
.game-controls #allowed-letters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  align-content: space-around;
}
.game-controls #allowed-letters .letter {
  cursor: pointer;
  display: inline-block;
  flex-grow: 1;
  text-align: center;
  min-width: 14.28571429%;
  max-width: 14.28571429%;
  height: 25px;
  font-size: 20px;
  background-color: #eeeeee;
  box-shadow: 0px 0px 11px  #000 inset;
  margin-top: 5px;
  margin-left: 2%;
}
.game-controls #allowed-letters .letter.guessed {
  background-color: #bbbbbb;
  cursor: default;
}
.game-controls #game-won,
.game-controls #game-lost {
  display: none;
}
.game-controls #image-container {
  text-align: center;
  margin-bottom: 30px;
}
.game-controls #image-container img {
  width: 200px;
  background-color: #EBF7FF;
}
.word-list-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.word-list-container .subtitle {
  font-size: 50px;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 100%;
  margin-left: 10px;
}
.word-list-container .entry {
  display: inline-block;
  min-width: 210px;
  height: 140px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  vertical-align: middle;
  padding: 15px;
  overflow: hidden;
  transition: padding 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  flex-grow: 1;
}
.word-list-container .entry .word {
  height: 90px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.word-list-container .entry .slide-down {
  display: none;
  text-align: right;
}
.word-list-container .entry .slide-down .modification-times {
  color: #000000;
}
.word-list-container .entry .slide-down .links {
  margin-top: 14px;
}
.word-list-container .entry.down {
  /*background-color: @active-background-color;
        color: @active-color;*/
  padding: 20px;
  border-radius: 10px;
  box-shadow: #4d4d4d 0 0 20px inset;
}
.word-list-container .entry.down .modification-times {
  color: #000000;
}
.error-404 {
  text-align: center;
  background-color: #222222;
  color: #ccffcc;
  width: 50%;
  margin: 0 auto;
  padding: 60px 30px;
  box-shadow: 0px 0px 20px 10px inset;
  border-radius: 200px;
  font-size: 20px;
}
.error-404 .header-404 h1 {
  font-size: 100px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.error-404 .reason-404 {
  color: #080808;
  background-color: #99ff99;
  box-shadow: #99ff99 0px 0px 16px 0px;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
}
body {
  padding: 80px;
  margin-bottom: 0;
}
